<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18561815664-j7q72j1023gon1m9dgpp22mgkdi2v1p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18561815664-j7q72j1023gon1m9dgpp22mgkdi2v1p0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>18561815664-qekknl9evllsgdi5a60aaqml9tbckeso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoWf0ad5Pnz6jYAFfM3vEQUZ6GwHlCwx4</string>
	<key>GCM_SENDER_ID</key>
	<string>18561815664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellCarApp</string>
	<key>PROJECT_ID</key>
	<string>sell-car-85c73</string>
	<key>STORAGE_BUCKET</key>
	<string>sell-car-85c73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18561815664:ios:303815cf8532996f78d0b5</string>
</dict>
</plist>